.inputfield {
    grid-template-columns: 1fr 30rem;
    grid-template-rows: 1fr;
    grid-template-areas: 'presentation actions';
    /* background: radial-gradient(ellipse at bottom, #cbf1fd 0%, transparent 80%); */
    background-size: 140% 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: relative;
    
}

.sectionTitle {
    font-size: 1.5rem;
    text-transform: capitalize;
    padding-left: 30px;
    padding-top: 30px;
}

.inputfield_inputcontainer1 {
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 355px;
}

.inputfield_inputcontainer1 h6 {
    margin-bottom: 8px;
}

.addbutton {
    position: relative;
    top: 60px;
    right: 58px;
}

.demo-infinite-container {
    display: inline-block;
    position: relative; 
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    top: 30px;
    height: 300px;
    width: 325px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.deletebutton {
    position: absolute;
    right: 10px;
}

.list {
    margin-left: 5px;
}

.titlelist {
    display: block;
}

.title {

    margin-bottom: -20px;
    margin-top: 30px;
}

.clearbutton {
    position: absolute;
    left: -70px;
    bottom: -60px;
}

.sponsoring {
  position: relative;
  top: 90px;
}

.SDescription {
    font-size: 12px;
    margin-bottom: 1px;
}

.nodata {
    display: none;
}