.inputfield {
    grid-template-columns: 1fr 30rem;
    grid-template-rows: 1fr;
    grid-template-areas: 'presentation actions';
    /* background: radial-gradient(ellipse at bottom, #cbf1fd 0%, transparent 80%); */
    background-size: 140% 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: relative;
    left: 100px;
    
}

.exchange-container {
    display: flex;
}

.sender {

    width: 18vw;
}

.recipient {

    margin-left: 4vw;
    width: 18vw;
}

.swap {
    position: absolute;
    top: 5.3em;
    left: 19.9%;

}

.recipient-search {
    top: 2.7em;
}

.sender-search {
    top: 0.6em;
}

.sectionTitle {
    font-size: 1.5rem;
    text-transform: capitalize;
    padding-left: 30px;
    padding-top: 30px;
}

.title-label {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.sender-field {
    width: 100%;
}

.cc-icon {
    position: absolute;
    left: 16.5vw;
    top: 148px;
    z-index: 99;
    font-size: 14px;
}


.cc-field {
    width: 100%;
    position: relative;
    top: 0.9em;
}

.inputfield_inputcontainer1 {
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 315px;
}

.inputfield_inputcontainer1 h6 {
    margin-bottom: 8px;
}

.addbutton {
    position: relative;
    top: 60px;
    right: 58px;
}

.demo-infinite-container {
    display: inline-block;
    position: relative; 
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
  }

  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.recipient-list {
    top: 2em;
}

.sender-list {
    top: -1em;
}

.deletebutton {
    position: absolute;
    right: 10px;
}

.list {
    margin-left: 5px;
}

.titlelist {
    margin-top: 1em;
}


.title {

    margin-bottom: -20px;
    margin-top: 30px;
}

.clearbutton {
    top: 50px;
}

.subject-title {
    margin-left: 6.25em;
}

.titles {
    font-size: 16px;
}
.red {
    font-size: 14px;
    color: red;
}
.sponsoring {
    position: fixed;
    top: 30em;
    width: 1000px;
}

.exchange-title {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 100px;
}

.SDescription {
    font-style: italic;
    font-size: 12px;
}

.nodata {
    display: none;
}

.warning-invalid {
    font-size: 12px;
    position: absolute;
    top: 395px;
    left: 130px;
    font-style: italic;
}

.sender-tag {
    width: 18vw;
}
.recipients-tag {
    position: relative;
    top: 3.1em;
    min-height: 2.7em;
    width: 18vw;
}
.senders-tag {
    position: relative;
    top: 0.7em;
    min-height: 2.7em;
    width: 18vw;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
}
.add-cc {

}

.list-user {
    font-size: 14px;
}

.next {
    position: fixed;
    top: 5em;
}